# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
 * List popular languages for Data Science
 * Evaluating arithmetic expressions
 * Creating a table in Markdown
 * Using Markdown in Jupyter Notebook

### Some of the popular languages that Data Scientists use are:

In [1]:
ordered_list = ['Python', 'Julia', 'R', 'Scala']

In [2]:
ordered_list

['Python', 'Julia', 'R', 'Scala']

|Data Science Tools|
|:----------------:|
| Jupyter Notebook |
| Visual Studio    |
| Anaconda         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min_hours = 200/60
min_hours

3.3333333333333335

## Author

##### Richard Mukechiwa